header {
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header{
  &__main-nav{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  &__image{
    display: flex;
    justify-content: center;
    img{
      height: 75px;
    }
  }
  &__options {
    overflow: hidden;
    display: flex;
  }
  &__option {
    position: relative;
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: 0; 
      top: 10%;
      height: 80%;
      width: 1px;
      background-color: #ccc;
    }
    a {
      &:hover{
        background-image: radial-gradient(ellipse, #a9a9a9, transparent 60%);
      }
    }
  }
}

a {
  display: block;
  color: #ccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  &:hover {
    color: #ccc;
    text-decoration: none;
  }
  &:focus {
    color: #ccc;
    text-decoration: none;
  }
}

.active {
  background-image: radial-gradient(ellipse, #808080, transparent 60%);
}