
.header{
  background-color: #333;
  &__main-nav{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  &__image{
    display: flex;
    justify-content: center;
    img{
      height: 75px;
    }
  }
  &__options {
    overflow: hidden;
    display: flex;
  }
  &__option {
    position: relative;
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: 0; 
      top: 10%;
      height: 80%;
      width: 1px;
      background-color: #ccc;
    }
    a {
      &:hover{
        background-image: radial-gradient(ellipse, #a9a9a9, transparent 60%);
      }
      &.active {
        background-image: radial-gradient(ellipse, #808080, transparent 60%);
      }
    }
  }
}