/*
 * Colors
 ****************************************************************************************************
 */

 $light-yellow: #fafce5;
 $yellowish-orange: #ff9f1a;
 $orangey-yellow: #ffb31a;
 
 $lime: #00cf5d;
 
 $emerald: #00965e;
 $emerald-two: #00a661;
 $emerald-three: #008c52;
 $emerald-four: #008654;
 $emerald-five: #e3f5ec;
 $emerald-grey: #98d9be;
 $emerald-hover: #ebfff4;
 
 $seafoam-blue:#6cd9ac;
 
 $dark-sky-blue:#45bbe6;
 $light-blue: #d1e4f3;
 
 $orange-red:#ff4019;
 $light-peach: #ffdacc;
 $almost-red: #fff1eb;
 
 $white: #fff;
 $warm-grey-two: #979797;
 
 $light-grey: #f7f7f2;
 $light-grey-one: #f7f7f7;
 $light-grey-two: #ccc6ba;
 $light-grey-three: #e6e3df;
 $light-grey-four: #cacaca;
 $pale-grey: #f1f2f6;
 $grey: #66635d;
 $grey-two: #99948b;
 $grey-three: #b1b1ae;
 
 $beige: #f1f3d1;
 $beije-two: #f2efeb;
 $beige-three: #f9f3e6;
 
 $warm-grey:#99948b;
 $warmer-grey: #53504b;
 
 $blue-turquoise: #3e4a59;
 
 $almost-black: #1f1f1f;
 $black: #000;
 $light-blue-grey: #c6ebd8;
 $light-blue-grey-two:#edf7ff;
 $light-blue-grey-three:#dceee7;
 
 
 // Colors buttons
 
 $button-off: #f7f7f2;
 $button-hover: #f1f1e9;
 $button-on: #f3e7cd;
